<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="home1.css">
</head>
<body style="overflow: hidden;">
<header><center><h2>Smoked Home</h2></center></header>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
      <li><a href="/rulespage"><p class="p1">Rules</p></a></li>
      <li ><a href="/leaderboard"><p class="p1">Leaderboard</p></a>
      </li>
      <li><a href="/aboutus"><p class="p1">About Us</p></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/signup"><p class="p1"> Sign Up</p></a></li>
      <li><a href="/signin"><p class="p1">Login</p></a></li>
    </ul>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <center>
          <div>
            <a href="/play" class="pic"><img src="power.png" id="play" style="margin-top: 20%"></a>
          </div>
        </center>
      </div>
    </div>
  </div>
</body>
</html>